{% capture footer_custom %}
  {%- include footer_custom.html -%}
{% endcapture %}

{% if footer_custom != "" or site.last_edit_timestamp %}
  {% if page.hide_hr != true %}
    <hr>
  {% endif %}
  <footer>
    {% if site.back_to_top and page.hide_back_to_top != true %}
      <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
    {% endif %}

    {{ footer_custom }}

    {% if site.last_edit_timestamp %}
      <div class="d-flex mt-2">
        {% if site.last_edit_time_format and page.last_modified_date %}
          <p class="text-small text-grey-dk-000 mb-0 mr-2">
            Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>
          </p>
        {% endif %}
      </div>
    {% endif %}
  </footer>
{% endif %}
